.container{
    padding: 20px;
    display: flex;
    flex-direction: row;
}

.table{
    border: solid black 2px;
    margin-right: 20px;
    padding: 20px;
    text-align: center;
}

.span{
    border: black solid 2px;
    padding-left: 20px;
    padding-right: 20px;
}
.logs{
    overflow: scroll;
    width: 75%;
    height: 200px;
    border: black solid 2px;
    color: green;
}

.container2{
    margin: auto;
    width: 75%;
    padding: 10px;
}